{% extends 'base.html' %}
{% load static %}

{% block title %}Colleges - PSUSphere{% endblock %}

{% block content %}
<h2 style="font-size: 24px; font-weight: 600; margin-bottom: 25px;">Colleges</h2>

<div class="card">
    <div class="card-header">
        <div class="card-title">List of Colleges</div>
        <div class="card-category">Page Subtitle</div>
    </div>

    <br />

    <div class="col-md-12 row px-4">
        <div class="col-md-6">
            <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'college-list' %}" method="get">
                <div class="input-group">
                    <input
                        type="text"
                        placeholder="Search ..."
                        class="form-control"
                        name="q"
                        value="{{ request.GET.q }}"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="pull-right text-right">
                <a href="{% url 'college-add' %}" class="btn btn-success btn-rounded">
                    Add College
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.college_name }}</td>
                    <td>
                        <a href="{% url 'college-update' object.id %}">Edit</a>
                        <a href="{% url 'college-delete' object.id %}" class="text-danger ml-2">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" style="text-align: center">
                        <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock %}

